{% extends "base.html" %}

{% block title %}Tags :: {{ SITENAME }}{% endblock %}

{% block header %}
{% set header_path = "~/posts" %}
{% set header_command = "ls -la tags/" %}
{% include "includes/header.html" %}
{% endblock %}

{% block content %}
<div class="terminal-posts">
  <div class="listing-header">
    <div class="listing-kicker">taxonomy</div>
    <div class="listing-title"><span class="syntax">#</span> tags/</div>
    <div class="listing-meta">- {{ tags|count }} tags indexed</div>
  </div>
  <div class="terminal-output">
    <div class="file-listing tag-file-listing">
      {% for tag, articles in tags|sort(attribute='0.name') %}
        <div class="file-line">
          <span class="date">{{ articles|count }} post{% if articles|count != 1 %}s{% endif %}</span>
          <a href="{{ SITEURL }}/tags/{{ tag.slug }}/" class="filename">{{ tag }}</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
