[build]
  publish = "public"
  command = "hugo --gc --minify"

[context.production.environment]
  HUGO_VERSION = "0.64.0"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.64.0"

[context.deploy-preview]
  command = "hugo --gc --minify --buildFuture -b $DEPLOY_PRIME_URL"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "no-referrer"
    Strict-Transport-Security = '''
        max-age=31536000;
        includeSubDomains
    '''
    Content-Security-Policy = '''
        default-src 'self';
        style-src 'self' 'unsafe-inline';
        img-src 'self'
    '''
    Permissions-Policy = '''
        accelerometer=(none),
        ambient-light-sensor=(none),
        autoplay=(none),
        camera=(none),
        encrypted-media=(none),
        fullscreen=(none),
        geolocation=(none),
        gyroscope=(none),
        magnetometer=(none),
        microphone=(none),
        midi=(none),
        payment=(none),
        picture-in-picture=(none),
        speaker=(none),
        usb=(none),
        vibrate=(none),
        vr=(none)
    '''
